## Spaza Dataset: Cleaning, Analysis & Visualisation
_Author: Tshepo Ralehoko_ \
_Date: 29 July 2023_

#### Objective

#### Tech Stack
__Programming language: Python__ \
__Libraries:__ Pandas

In [37]:
# loading the requisite modules
import pandas as pd
#import numpy as np
#import openpyxl as xls
#import datetime as dt

In [38]:
# loading the dataset to the notebook
df=pd.read_excel(io=r'C:\Users\rtral\Datasets\Spaza data\Spaza data.xlsx', sheet_name='Data Set 1')

# loading the second sheet to the notebook
ref_sheet=pd.read_excel(io=r'C:\Users\rtral\Datasets\Spaza data\Spaza data.xlsx', 
                        sheet_name='Reference Sheet', header=[0],skiprows=[1,2])

In [39]:
# maximum width in characters of a column
# maximum number of columns that will be rendered
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_columns', None)

# inspecting the first few observations
df.head(n=2)

,PAYLOAD_OBJECTID,COMPLETED_AT,JOBBER_ID,spaza_location,spaza_type,spaza_type_1,role,Role_1,nationality,number_of_spazas,spaza_age,Spaza_age_1,deposit_frequency,stock_frequency,stock_frequency_1,stock_orders_-_day,buying_group/stokvel,credit,store_items,shelving,shelving_1,store_fridges,till_points,till_points_1,supplier_support,supplier_support_1,weekly_ode_amount,monthly_sales,brands_in-store,0_Supplier_wholesalers,0_Order %_wholesalers,1_Supplier_wholesalers,1_Order %_wholesalers,2_Supplier_wholesalers,2_Order %_wholesalers,till_slip_submission - visit 1,till_slip_submission - visit 2
0,10825571,2021-11-05 09:00:43.023531+00:00,439383,CHEAPEST SUPERMARKET -29.6979692867153 31.0703980922699,2: Gated (can't walk into the Spaza),2,1: Shop Keeper,1,1,1,3: 3 - 4 years,3,2,5: When I need stock,5,"[""8""]",1,1,"[""2"", ""3"", ""4"", ""7"", ""8"", ""10""]",1: All products have a shelf/ display area,1,2: 1-2 fridges,1: Cash only till point,1,1: Yes,1,30 000,60 000,"[""2"", ""4"", ""5"", ""6"", ""8"", ""9"", ""10"", ""11"", ""12"", ""13"", ""14"", ""18"", ""19"", ""20"", ""21"", ""24"", ""26"", ""33"", ""34"", ""35"", ""36""]",GATE RITE,100,NaN,0,NaN,0,2: 1 slip,2: 1 slip
1,10737966,2021-10-30 10:57:07.889638+00:00,439383,MULE TUCK SHOP -29.6538965880754 31.0678124427795,2: Gated (can't walk into the Spaza),2,2: Shop Owner,2,1,1,2: 1 - 2 years,2,3,5: When I need stock,5,"[""8""]",1,1,"[""2"", ""3"", ""4"", ""7"", ""8""]","2: Some products are on the shelves, some products are on the floor",2,2: 1-2 fridges,1: Cash only till point,1,1: Yes,1,21 000,30 000,"[""2"", ""3"", ""4"", ""5"", ""6"", ""8"", ""10"", ""11"", ""12"", ""13"", ""20"", ""21"", ""24"", ""33"", ""34"", ""35""]",GATERITE,100,NaN,0,NaN,0,2: 1 slip,2: 1 slip

In [40]:
# cleaning column names
# small letters, remove white spaces etc
df.columns=df.columns.str.strip()
df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(' ','_')

In [9]:
# column names
df.columns

Index(['payload_objectid', 'completed_at', 'jobber_id', 'spaza_location',
       'spaza_type', 'spaza_type_1', 'role', 'role_1', 'nationality',
       'number_of_spazas', 'spaza_age', 'spaza_age_1', 'deposit_frequency',
       'stock_frequency', 'stock_frequency_1', 'stock_orders_-_day',
       'buying_group/stokvel', 'credit', 'store_items', 'shelving',
       'shelving_1', 'store_fridges', 'till_points', 'till_points_1',
       'supplier_support', 'supplier_support_1', 'weekly_ode_amount',
       'monthly_sales', 'brands_in-store', '0_supplier_wholesalers',
       '0_order_%_wholesalers', '1_supplier_wholesalers',
       '1_order_%_wholesalers', '2_supplier_wholesalers',
       '2_order_%_wholesalers', 'till_slip_submission_-_visit_1',
       'till_slip_submission_-_visit_2'],
      dtype='object')

In [41]:
# adding new columns
# date completed
df['date_completed']=df['completed_at'].apply(lambda x: x[0:10])

#time completed
df['time_completed']=df['completed_at'].apply(lambda x: x[10:16])

In [42]:
df.head(n=2)

,payload_objectid,completed_at,jobber_id,spaza_location,spaza_type,spaza_type_1,role,role_1,nationality,number_of_spazas,spaza_age,spaza_age_1,deposit_frequency,stock_frequency,stock_frequency_1,stock_orders_-_day,buying_group/stokvel,credit,store_items,shelving,shelving_1,store_fridges,till_points,till_points_1,supplier_support,supplier_support_1,weekly_ode_amount,monthly_sales,brands_in-store,0_supplier_wholesalers,0_order_%_wholesalers,1_supplier_wholesalers,1_order_%_wholesalers,2_supplier_wholesalers,2_order_%_wholesalers,till_slip_submission_-_visit_1,till_slip_submission_-_visit_2,date_completed,time_completed
0,10825571,2021-11-05 09:00:43.023531+00:00,439383,CHEAPEST SUPERMARKET -29.6979692867153 31.0703980922699,2: Gated (can't walk into the Spaza),2,1: Shop Keeper,1,1,1,3: 3 - 4 years,3,2,5: When I need stock,5,"[""8""]",1,1,"[""2"", ""3"", ""4"", ""7"", ""8"", ""10""]",1: All products have a shelf/ display area,1,2: 1-2 fridges,1: Cash only till point,1,1: Yes,1,30 000,60 000,"[""2"", ""4"", ""5"", ""6"", ""8"", ""9"", ""10"", ""11"", ""12"", ""13"", ""14"", ""18"", ""19"", ""20"", ""21"", ""24"", ""26"", ""33"", ""34"", ""35"", ""36""]",GATE RITE,100,NaN,0,NaN,0,2: 1 slip,2: 1 slip,2021-11-05,09:00
1,10737966,2021-10-30 10:57:07.889638+00:00,439383,MULE TUCK SHOP -29.6538965880754 31.0678124427795,2: Gated (can't walk into the Spaza),2,2: Shop Owner,2,1,1,2: 1 - 2 years,2,3,5: When I need stock,5,"[""8""]",1,1,"[""2"", ""3"", ""4"", ""7"", ""8""]","2: Some products are on the shelves, some products are on the floor",2,2: 1-2 fridges,1: Cash only till point,1,1: Yes,1,21 000,30 000,"[""2"", ""3"", ""4"", ""5"", ""6"", ""8"", ""10"", ""11"", ""12"", ""13"", ""20"", ""21"", ""24"", ""33"", ""34"", ""35""]",GATERITE,100,NaN,0,NaN,0,2: 1 slip,2: 1 slip,2021-10-30,10:57

In [43]:
# printing the unique values of the deposit frequency column
# the particular seems to be closed. therefore we remove the observation
df['deposit_frequency'].unique()
df.loc[df['deposit_frequency'] == 'Tho store is currently closed']

,payload_objectid,completed_at,jobber_id,spaza_location,spaza_type,spaza_type_1,role,role_1,nationality,number_of_spazas,spaza_age,spaza_age_1,deposit_frequency,stock_frequency,stock_frequency_1,stock_orders_-_day,buying_group/stokvel,credit,store_items,shelving,shelving_1,store_fridges,till_points,till_points_1,supplier_support,supplier_support_1,weekly_ode_amount,monthly_sales,brands_in-store,0_supplier_wholesalers,0_order_%_wholesalers,1_supplier_wholesalers,1_order_%_wholesalers,2_supplier_wholesalers,2_order_%_wholesalers,till_slip_submission_-_visit_1,till_slip_submission_-_visit_2,date_completed,time_completed
199,10986938,2021-11-17 17:56:17.439732+00:00,869137,THANDO AND YENZO GENERAL DEALER -29.6039317 30.3782972,1: Walk-in (can walk into Spaza),1,2: Shop Owner,2,Currently closed,Currently closed,1: Less than a year,1,Tho store is currently closed,5: When I need stock,5,"[""8""]",1,1,"[""1""]",3: Products do not have a specific space (all over),3,1: 0 Fridges,1: Cash only till point,1,2: No,2,2000,12000,"[""1""]",Phoenix cash and carry,100,NaN,0,NaN,0,2: 1 slip,1: No slip to submit,2021-11-17,17:56

In [44]:
# removing the observation indicated above
df=df.drop(df.loc[df['deposit_frequency'] == 'Tho store is currently closed'].index, inplace=False)

In [45]:
# extracting the latitude and longitude from the spaza location variable
df['lon']=df['spaza_location'].str.split().str[-1]
df['lat']=df['spaza_location'].str.split().str[-2]

# extracting the spaza address from the spaza location variable
# joining the physical address. leaving a space between each address detail
df['spaza_name']=df['spaza_location'].apply(lambda x: ' '.join(x.split()[:-2]))

In [46]:
# removing white space between the colon and the string of interest in each column
df['spaza_type']=df['spaza_type'].str.replace(': ', ':')

# extract the character between a colon (:) and the first instance of a white space (\s)
df['spaza_type_descr']=df['spaza_type'].str.extract(':(.*?)\s')

In [47]:
# replacing any white space after the colon(:) with a colon (:)
df['role_descr']=df['role'].str.replace(': ', ':')

# extracting the last two characters in each row and the joining the two separate characters
df['role_descr']=df['role'].apply(lambda x: ' '.join(x.split()[1:]))

df.head(n = 2)

,payload_objectid,completed_at,jobber_id,spaza_location,spaza_type,spaza_type_1,role,role_1,nationality,number_of_spazas,spaza_age,spaza_age_1,deposit_frequency,stock_frequency,stock_frequency_1,stock_orders_-_day,buying_group/stokvel,credit,store_items,shelving,shelving_1,store_fridges,till_points,till_points_1,supplier_support,supplier_support_1,weekly_ode_amount,monthly_sales,brands_in-store,0_supplier_wholesalers,0_order_%_wholesalers,1_supplier_wholesalers,1_order_%_wholesalers,2_supplier_wholesalers,2_order_%_wholesalers,till_slip_submission_-_visit_1,till_slip_submission_-_visit_2,date_completed,time_completed,lon,lat,spaza_name,spaza_type_descr,role_descr
0,10825571,2021-11-05 09:00:43.023531+00:00,439383,CHEAPEST SUPERMARKET -29.6979692867153 31.0703980922699,2:Gated (can't walk into the Spaza),2,1: Shop Keeper,1,1,1,3: 3 - 4 years,3,2,5: When I need stock,5,"[""8""]",1,1,"[""2"", ""3"", ""4"", ""7"", ""8"", ""10""]",1: All products have a shelf/ display area,1,2: 1-2 fridges,1: Cash only till point,1,1: Yes,1,30 000,60 000,"[""2"", ""4"", ""5"", ""6"", ""8"", ""9"", ""10"", ""11"", ""12"", ""13"", ""14"", ""18"", ""19"", ""20"", ""21"", ""24"", ""26"", ""33"", ""34"", ""35"", ""36""]",GATE RITE,100,NaN,0,NaN,0,2: 1 slip,2: 1 slip,2021-11-05,09:00,31.0703980922699,-29.6979692867153,CHEAPEST SUPERMARKET,Gated,Shop Keeper
1,10737966,2021-10-30 10:57:07.889638+00:00,439383,MULE TUCK SHOP -29.6538965880754 31.0678124427795,2:Gated (can't walk into the Spaza),2,2: Shop Owner,2,1,1,2: 1 - 2 years,2,3,5: When I need stock,5,"[""8""]",1,1,"[""2"", ""3"", ""4"", ""7"", ""8""]","2: Some products are on the shelves, some products are on the floor",2,2: 1-2 fridges,1: Cash only till point,1,1: Yes,1,21 000,30 000,"[""2"", ""3"", ""4"", ""5"", ""6"", ""8"", ""10"", ""11"", ""12"", ""13"", ""20"", ""21"", ""24"", ""33"", ""34"", ""35""]",GATERITE,100,NaN,0,NaN,0,2: 1 slip,2: 1 slip,2021-10-30,10:57,31.0678124427795,-29.6538965880754,MULE TUCK SHOP,Gated,Shop Owner

In [48]:
# changing the variable type of nationality variable
df['nationality']=df['nationality'].astype(str)

# changing the variable type of deposit frequency variable
df['deposit_frequency'] = df['deposit_frequency'].astype(str)
df.dtypes

payload_objectid                   int64
completed_at                      object
jobber_id                          int64
spaza_location                    object
spaza_type                        object
spaza_type_1                       int64
role                              object
role_1                             int64
nationality                       object
number_of_spazas                  object
spaza_age                         object
spaza_age_1                        int64
deposit_frequency                 object
stock_frequency                   object
stock_frequency_1                  int64
stock_orders_-_day                object
buying_group/stokvel               int64
credit                             int64
store_items                       object
shelving                          object
shelving_1                         int64
store_fridges                     object
till_points                       object
till_points_1                      int64
supplier_support                  object
supplier_support_1                 int64
weekly_ode_amount                 object
monthly_sales                     object
brands_in-store                   object
0_supplier_wholesalers            object
0_order_%_wholesalers              int64
1_supplier_wholesalers            object
1_order_%_wholesalers              int64
2_supplier_wholesalers            object
2_order_%_wholesalers              int64
till_slip_submission_-_visit_1    object
till_slip_submission_-_visit_2    object
date_completed                    object
time_completed                    object
lon                               object
lat                               object
spaza_name                        object
spaza_type_descr                  object
role_descr                        object
dtype: object

In [49]:
# adding nationality description
df['nationality_descr']=df['nationality'].map({'1': 'Ethiopian', '2': 'Bangladeshi', '3': 'Somalian', '4': 'South_African', '5': 'Kenyan', '6': 'Indian', '7': 'Malawian', '9': 'Pakistani'})

In [50]:
# adding a white space between the colon(:) and the number of years
# this helps us to extract the string that we are looking for
df['spaza_age']=df['spaza_age'].str.replace(':', ': ', regex=False)

# extracting the string of interest
df['spaza_age_descr']=df['spaza_age'].apply(lambda x: ' '.join(x.split()[1:]))

In [51]:
# adding a new column
# this is a description of the deposit frequency
df['deposit_freq_descr']=df['deposit_frequency'].map({'1': 'Daily', '2': 'Weekly', '3': 'Monthly','WHEN THERE IS A NEED.': 'when there is a need', 'WHENEVER I NEED TO': 'when there is a need', 'ANYTIME THERE IS A NEED.': 'when there is a need'})

In [52]:
# conveniently adding a white space after the colon (:)
df['stock_frequency']=df['stock_frequency'].str.replace(':', ': ')

# adding a new column by extracting the relevant string from stock_frequency
df['stock_freq_descr']=df['stock_frequency'].apply(lambda x: ' '.join(x.split()[1:]))

In [53]:
# adding a new column
df['stock_orders_day_descr']=df['stock_orders_-_day'].replace(['"1"', '"2"', '"3"', '"4"', '"5"','"6"', '"7"', '"8"'], ['Mon', 'Tue', 'Wed', 'Thu' , 'Fri', 'Sat', 'Sun', 'when_needed'], regex=True)

In [54]:
# adding a new column
df['items_sold']=df['store_items'].replace(['"1"', '"2"', '"3"', '"4"', '"5"', '"6"', '"7"', '"8"', '"9"', '"10"', '"11"', '"12"'], ['n_a', 'Electricity', 'freezer', 'perishables', 'cleaning_prods', 'medicine', 'feminine_hygiene_prods', 'baby_prods', 'general_items', 'hair_products', 'fast_food', 'has_atm_inside'], regex=True)

In [55]:
# adding a white space for convenience
df['shelving']=df['shelving'].str.replace(':', ': ')

# adding a new column
df['shelving_descr']=df['shelving'].apply(lambda x: ' '.join(x.split()[1:]))

In [56]:
# adding a white space
df['store_fridges']=df['store_fridges'].str.replace(':', ': ')

# adding a new column
df['no_of_fridges']=df['store_fridges'].apply(lambda x: ' '.join(x.split()[1:-1]))

In [57]:
# adding a white space
df['till_points']=df['till_points'].str.replace(':', ': ')

# adding a new column
df['methods_of_pay']=df['till_points'].apply(lambda x: ' '.join(x.split()[1:]))

In [58]:
df['supplier_support']=df['supplier_support'].str.replace(':', ': ')

df['supplier_support']=df['supplier_support'].apply(lambda x: ' '.join(x.split()[1:]))

In [59]:
# declaring variable type
df['weekly_ode_amount']=df['weekly_ode_amount'].astype(str)

# removing white spaces
df['weekly_ode_amount']=df['weekly_ode_amount'].apply(lambda x: x.replace(' ', ''))

In [60]:
# declaring variable type
# other modifications
df['monthly_sales']=df['monthly_sales'].astype(str)
df['monthly_sales']=df['monthly_sales'].replace('15 000 - 25 000', '20 000')
df['monthly_sales']=df['monthly_sales'].replace('CONFIDENTIAL', '0')
df['monthly_sales']=df['monthly_sales'].apply(lambda x: x.replace(' ', ''))

In [61]:
df['brands_in-store_desc']=df['brands_in-store'].replace(['"1"', '"2"', '"3"', '"4"', '"5"', '"6"', '"7"', '"8"', '"9"', '"10"', '"11"', '"12"', '"13"', '"14"', '"15"', '"16"', '"17"', '"18"', '"19"', '"20"', '"21"', '"22"', '"23"', '"24"', '"25"', '"26"', '"27"', '"28"', '"29"', '"30"', '"31"', '"32"', '"33"', '"34"', '"35"', '"36"'], ['n_a', 'ace', 'all_gold', 'aunt_caroline', "benny's", 'black_cat', 'brookes', 'cross_&_blackwell', 'dolly_varden', 'doom', 'energade', "fatti's_&_moni's", 'fizzer', 'golden_cloud', "hugo's", 'ingrams', 'jeyes_fluid', 'jungle_oats', 'king_korn', 'koo', 'morvite', 'mrs_balls', 'oros', 'purity', 'sixo', 'smoothies', 'status_wild', 'tastic_rice', "wilson's", 'wonderbar', 'pepsi', 'refresh', 'reboost', 'kotex', 'baby_soft', 'huggies'], regex=True)

In [62]:
# checking for duplicates
df.duplicated().value_counts()

False    222
dtype: int64

In [63]:
# dropping a list of columns
df=df.drop(['payload_objectid','completed_at','spaza_location', 'spaza_type','deposit_frequency', 'role', 'nationality', 'spaza_age', 'stock_frequency', 'buying_group/stokvel', 'credit', 'store_fridges', 'shelving', 'till_points', 'supplier_support', 'supplier_support_1'], axis=1, inplace=False)

In [64]:
df.head(n =2)
df['0_supplier_wholesalers']=df['0_supplier_wholesalers'].astype(str)
df['1_supplier_wholesalers']=df['1_supplier_wholesalers'].astype(str)
df['2_supplier_wholesalers']=df['2_supplier_wholesalers'].astype(str)
df['spaza_name']=df['spaza_name'].astype(str)
df['spaza_type_descr']=df['spaza_type_descr'].astype(str)
df['lon']=df['lon'].astype(float).round(1)

df['0_supplier_wholesalers'].apply(lambda x: x.lower())
df['0_supplier_wholesalers']=df['0_supplier_wholesalers'].astype(str)
df['0_supplier_wholesalers']=df['0_supplier_wholesalers'].apply(lambda x: x.lower())
df['1_supplier_wholesalers']=df['1_supplier_wholesalers'].apply(lambda x: x.lower())
df['2_supplier_wholesalers']=df['2_supplier_wholesalers'].apply(lambda x: x.lower())
df['spaza_name']=df['spaza_name'].apply(lambda x: x.lower())
df['spaza_type_descr']=df['spaza_type_descr'].apply(lambda x: x.lower())
df['role_descr']=df['role_descr'].apply(lambda x: x.lower())
df['deposit_freq_descr']=df['deposit_freq_descr'].apply(lambda x: x.lower())
df['stock_freq_descr']=df['stock_freq_descr'].apply(lambda x: x.lower())
df['stock_orders_day_descr']=df['stock_orders_day_descr'].apply(lambda x: x.lower())
df['methods_of_pay']=df['methods_of_pay'].apply(lambda x: x.lower())
df['shelving_descr']=df['shelving_descr'].apply(lambda x: x.lower())
df['items_sold']=df['items_sold'].apply(lambda x: x.lower())

In [69]:
# renaming a list of columns
df=df.rename(columns={'spaza_type_1': 'spaza_type', 'role_1': 'role', 'spaza_age_1': 'spaza_age', 'stock_frequency_1': 'stock_repl_freq', 'stock_orders_-_day': 'stock_orders_day'}, inplace=False)

df['lon']=df['lon'].apply(lambda x: round(number=x, ndigits=1))

In [70]:
df.head(n = 1)

,jobber_id,spaza_type,role,number_of_spazas,spaza_age,stock_repl_freq,stock_orders_day,store_items,shelving_1,till_points_1,weekly_ode_amount,monthly_sales,brands_in-store,0_supplier_wholesalers,0_order_%_wholesalers,1_supplier_wholesalers,1_order_%_wholesalers,2_supplier_wholesalers,2_order_%_wholesalers,till_slip_submission_-_visit_1,till_slip_submission_-_visit_2,date_completed,time_completed,lon,lat,spaza_name,spaza_type_descr,role_descr,nationality_descr,spaza_age_descr,deposit_freq_descr,stock_freq_descr,stock_orders_day_descr,items_sold,shelving_descr,no_of_fridges,methods_of_pay,brands_in-store_desc
0,439383,2,1,1,3,5,"[""8""]","[""2"", ""3"", ""4"", ""7"", ""8"", ""10""]",1,1,30000,60000,"[""2"", ""4"", ""5"", ""6"", ""8"", ""9"", ""10"", ""11"", ""12"", ""13"", ""14"", ""18"", ""19"", ""20"", ""21"", ""24"", ""26"", ""33"", ""34"", ""35"", ""36""]",gate rite,100,nan,0,nan,0,2: 1 slip,2: 1 slip,2021-11-05,09:00,31.1,-29.6979692867153,cheapest supermarket,gated,shop keeper,Ethiopian,3 - 4 years,weekly,when i need stock,[when_needed],"[electricity, freezer, perishables, feminine_hygiene_prods, baby_prods, hair_products]",all products have a shelf/ display area,1-2,cash only till point,"[ace, aunt_caroline, benny's, black_cat, cross_&_blackwell, dolly_varden, doom, energade, fatti's_&_moni's, fizzer, golden_cloud, jungle_oats, king_korn, koo, morvite, purity, smoothies, reboost, kotex, baby_soft, huggies]"

In [71]:
# data types
df.head(n = 2)
df['jobber_id']=df['jobber_id'].astype(int)
df['spaza_type']=df['spaza_type'].astype('category')
df['role']=df['role'].astype('category')
df['number_of_spazas']=df['number_of_spazas'].astype(int)
df['spaza_age']=df['spaza_age'].astype(int)
df['stock_repl_freq']=df['stock_repl_freq'].astype(int)
df['stock_orders_day']=df['stock_orders_day'].astype(str)
df['date_completed']=pd.to_datetime(df['date_completed'], format='%Y-%m-%d')
#df['time_completed']=pd.to_datetime(df['time_completed'], format='%I:%M').dt.time
# df['lon']=df['lon']
# df['lat']=df['lat']
# df['spaza_name']=df['spaza_name']
# df['spaza_type_descr']=df['spaza_type_descr']
# df['role_descr']=df['role_descr']
# df['deposit_freq']=df['deposit_freq']
# df['nationality_descr']=df['nationality_descr']
# df['spaza_age_descr']=df['spaza_age_descr']
# df['deposit_freq_descr']=df['deposit_freq_descr']
# df['stock_freq']=df['stock_freq']